<div id="<%= dom_id user %>">
  <p>
    <h3>Username: <%= @user.username %></h3>
  </p>

  <% if user.closed %>
    <span class="badge bg-primary">closed</span>
  <% end %>

  <p>Has made <%= "#{user.ratings.count}"%> ratings, average rating <%= "#{user.average_rating}" %></p>
</div>