<%= turbo_frame_tag frame_tag do %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Founded</th>
        <th>Beers</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody id="<%= status %>_brewery_rows">
      <% breweries.each do |brewery| %>
        <%= render "brewery_row", brewery: brewery %>
      <% end %>
    </tbody>
  </table>
<% end %>