<h1>Beers</h1>

<div id="beers">
  <table class="table table-striped table-hover">
    <thead>
        <tr>
        <th>Beer</th>
        <th>Style</th>
        <th>Brewery</th>
      </tr>
    </thead>
    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <td><%= link_to beer.name, beer %></td>
          <td><%= link_to beer.style.name, beer.style %></td>
          <td><%= link_to beer.brewery.name, beer.brewery %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= link_to('New Beer', new_beer_path) if current_user %>