<%= turbo_frame_tag "new_message" do %>

  <%= form_with(model: @message) do |form| %>
    <div>
      <%= form.text_field :content %>
      <%= form.submit "Send" %>
    </div>
  <% end %>
  

<% end %>