<%= turbo_frame_tag "about_style" do %>
  <div class="card">
    <p>Beer styles differentiate and categorise beers by colour, flavour, strength, ingredients, production method, recipe, history, or origin.</i>
    <p>The modern concept of beer styles is largely based on the work of writer Michael Jackson in his 1977 book The World Guide To Beer. In 1989, Fred Eckhardt furthered Jackson's work publishing The Essentials of Beer Style. Although the systematic study of beer styles is a modern phenomenon, the practice of distinguishing between different varieties of beer is ancient, dating to at least 2000 BC.</p>
    <p>What constitutes a beer style may involve provenance, local tradition, ingredients, aroma, appearance, flavour and mouthfeel. The flavour may include the degree of bitterness of a beer due to bittering agents such as hops, roasted barley, or herbs; and the sweetness from the sugar present in the beer.</p>
    <p>Source <a href="https://en.wikipedia.org/wiki/Beer_style">Wikipedia</a></p>
  </div>
  <% end %>