<%= turbo_stream_from "messages_index" %>

<h1>Beerchat</h1>

<%= turbo_frame_tag "new_message", src: new_message_path  if current_user %>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>
