<p style="color: green"><%= notice %></p>

<h1>Styles</h1>

<div id="styles">
  <% @styles.each do |style| %>
    <p>
      <%= link_to style.name, style %>
    </p>
  <% end %>
</div>

<%= link_to "New style", new_style_path %>
