<p style="color: green"><%= notice %></p>

<%= render @style %>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) %>

  <%= button_to "Destroy this style", @style, method: :delete %>
</div>
