<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <p>
      <%= link_to beer.name, beer %>
    </p>
  <% end %>
</div>

<%= link_to('New Beer', new_beer_path) if current_user %>