<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li>
    <%= "#{rating.beer.name} #{rating.score}" %>
    <%= button_to 'delete', rating, method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } } %> 
   </li>
 <% end %>
</ul>

<%= link_to "New rating", new_rating_path %>